.register-page-container {
  background-color: #1a374d;
}

.social-accounts-sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.social-accounts-sign-up p:nth-child(1),
.social-accounts-sign-up p:nth-child(3) {
  height: 1.5px;
  width: 100%;
  background-color: #fff;
}

.btn-register {
  background-color: #069a8e;
  border: none;
  outline: none;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}

.btn-register:hover {
  background-color: #09afa1;
}
