.profile-page {
  background-color: #1a374d;
  color: #fff;
}

.profile-page-form-container {
  max-width: 650px;
  margin-inline: auto;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
